<.header>
  Create New Loan Survey
  <:subtitle>Create a new survey to assess loan usage and challenges</:subtitle>
</.header>

<.survey_form changeset={@changeset} action={~p"/surveys"} />

<.back navigate={~p"/surveys"}>Back to surveys</.back>